
@{
    ViewBag.Title = "Log in"; //l10n
}

<div ng-controller="LoginController" ng-cloak>
	<p>
		After login you will be redirect to: {{redirectTo.name}}
	</p>

	<monei-login-panel redirect-to-url="{{redirectTo.url}}" on-logged-in="login()"></monei-login-panel>
</div>


