@{
	ViewBag.Title = "Registry";
}

<div ng-controller="RegistryController" ng-cloak>

	<div ng-show="error" class="alert alert-danger">{{error}}</div>

	<span class="btn btn-link" ng-click="openCreatePanel()">Create record</span>

	<form class="form-inline labels-on-top">
		<div>
			<div class="form-group">
				<label>From</label>
				<input type="text" class="datepicker datepicker-days form-control input-shortDate" ng-model="filters.from"/>
			</div>
			<div class="form-group">
				<label>To</label>
				<input type="text" class="datepicker datepicker-days form-control input-shortDate" ng-model="filters.to"/>
			</div>
			<div class="form-group">
				<label>Category</label>
				<monei-category-selector ng-model="filters.categories" multiple="false"/>
			</div>
			<div class="form-group" ng-show="filters.categories">
				<label>
					Subcategory
					<monei-subcategory-selector ng-model="filters.subcategories" category-id="filters.categories" multiple="false"/>
				</label>
			</div>
			<div class="form-group">
				<label>Note</label>
				<input type="text" ng-model="filters.note" class="form-control" />
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary" ng-click="search()">Search</button>
			</div>
		</div>
		<div ng-show="searchError" class="alert alert-warning alert-dismissible">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>{{searchError}}
		</div>
	</form>

	<div ng-show="loading" class="text-center"><img src="~/Images/loading bar.gif" style="margin:2em auto"/></div>
	<table ng-hide="loading" class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>Date</th>
				<th>Amount</th>
				<th>Category</th>
				<th>Subcategory</th>
				<th>Note</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="record in records">
				<td class="nowrap">{{record.date | moment: 'format': 'L'}}</td>
				<td>{{record.amount | currency}}</td>
				<td class="nowrap">{{record.category.name}}</td>
				<td class="nowrap">{{record.subcategory.name}}</td>
				<td>{{record.note}}</td>
			</tr>
		</tbody>
	</table>

	<!-- modal for Create-->
	<div id="modal_create" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h3>Create voice in Registry</h3>
				</div>
				<div class="modal-body"><img src="/images/ajax-loader.gif" /> loading...</div>
				<div class="modal-footer">
					<button type="button" onclick="saveItem();" class="btn btn-primary">Save</button>
					<button type="button" onclick="cancelEdit();" class="btn btn-danger" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<!-- modal for Edit -->
	<div id="modal_edit" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h3>Modify voice in Registry</h3>
				</div>
				<div class="modal-body"><img src="/images/ajax-loader.gif" /> loading...</div>
				<div class="modal-footer">
					<button type="button" onclick="saveItem();" class="btn btn-primary">Save</button>
					<button type="button" onclick="cancelEdit();" class="btn btn-danger" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

</div>


