@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>

    <header>
        <div class="content-wrapper clear-fix">
            <div class="float-left">
                <div class="site-title"><img src="/images/logo.png" style="margin:5px 5px; height: 60px;" /></div>
            </div>
        </div>
    </header>

    <hgroup>        
        <h2>An error occurred while processing your request.</h2>
    </hgroup>
    
    <a href="/">Return to the home page.</a>

    @RenderBody()


</body>
</html>