<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>		
		<section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
	</configSections>

	<connectionStrings>
		<clear />
		<add name="monei" connectionString="Data Source=213.136.84.88;Initial Catalog=Monei (dev); User=monei_dev; Password=monei.2810" providerName="System.Data.SqlClient" />
	</connectionStrings>

	<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
		<session-factory>
			<property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
			<property name="dialect">NHibernate.Dialect.MsSql2012Dialect</property>
			<!--<property name="query.substitution">hqlFunction=SQLFUNC</property>-->
			<!--<property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>-->
			<!--<property name="connection.conection_string">...</property>-->
			<property name="connection.connection_string_name">monei</property>
			<property name="show_sql">false</property>
			<mapping assembly="Monei.Entities" />
		</session-factory>
	</hibernate-configuration>

</configuration>